header{
    background-color: #32373c;
}

.logo{
    padding-top: 10px;
    
}

.logo p{
    
    padding: 10px;
}

.contacto{
    padding: 50px;
    
}

footer{
    background-color: #32373c;
}


.tar{
    padding-top: 50px;
    padding-bottom: 50px;
}
